@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(62, 62, 206);
}

.main-header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.logo img {
  position: absolute;
  width: 16%;
}

.main-nav {
  margin-left: 200px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 12px 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  transition: 0.7s;
  text-shadow: 4px 2px 3px white;
}

.main-header a:hover {
  color: #4ba2ff;
  font-size: 38px;
  text-shadow: 4px 2px 1px black;
}

.site-name img {
  width: 9%;
  float: right;
}

.main-section {
  width: 100%;
  padding: 10% 9%;
}

.news1 {
  padding: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.news1 img {
  width: 350px;
}

.news-text {
  width: 60%;
  padding: 30px;
  color: rgb(182, 179, 179);
  font-size: 25px;
  text-align: center;
  transform: 0.5s;
}

.main-comment textarea {
  width: 100vh;
  padding: 12px;
  border: 1px solid #ccc;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 20px;
}

input {
  background-color: #145eff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:hover {
  background-color: #0a02a5;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 60px;
  display: flex;
}

.comment-text {
  width: 100vh;
  margin-top: 10%;
  padding: 12px;
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff;
  }
}
