@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("https://e00-marca.uecdn.es/assets/multimedia/imagenes/2018/12/13/15446786929882.jpg");
  background-size: cover;
}
.main-header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.logo img {
  position: absolute;
  width: 16%;
}

.main-nav {
  margin-left: 20%;
}

.site-name img {
  width: 9%;
  float: right;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 12px 30px;
  font-size: 260%;
  color: rgb(255, 255, 255);
  transition: 0.7s;
  text-shadow: 4px 2px 3px white;
}

.main-header a:hover {
  color: #4ba2ff;
  font-size: 38px;
  text-shadow: 4px 2px 1px black;
}

.video-main {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.video-div {
  width: 100%;
  padding: 200px 160px;
}

.video-div iframe {
  padding: 4%;
}

.euro-name {
  position: absolute;
  width: 100%;
  height: 80px;
  justify-content: center;
  margin-top: 130px;
}

.euro-name h2 {
  text-align: center;
  font-size: 70px;
  color: rgb(199, 199, 199);
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff;
  }
}

@media (max-width: 1100px) {
  body {
    background: rgb(62, 62, 206);
  }
  .main-nav {
    display: flex;
  }
  .main-nav a {
    font-size: 100%;
    padding: 0 5.5%;
  }
  .euro-name h2 {
    font-size: 250%;
  }
  .video-div iframe {
    width: 100%;
    margin: 0;
  }
  .video-div {
    padding: 90% 2% 0;
  }
}
