@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("https://pbs.twimg.com/media/ETT7SnnWAAEYsuH.jpg");
  background-size: cover;
}
.main-header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.logo img {
  position: absolute;
  width: 210px;
}

.main-nav {
  margin-left: 200px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 12px 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  transition: 0.7s;
  text-shadow: 4px 2px 3px white;
}

.main-header a:hover {
  color: #4ba2ff;
  font-size: 38px;
  text-shadow: 4px 2px 1px black;
}

.site-name {
  float: right;
  margin-right: 100px;
}
.sites-name {
  text-align: center;
  font-size: 60px;
  color: #fff;
  letter-spacing: -4px;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}

.video-main {
  position: absolute;
  width: 100%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.video-div {
  margin: 30px 50px;
  padding: 90px;
}

.video-div iframe {
  padding: 40px;
}

.euro-name {
  position: absolute;
  width: 100%;
  height: 80px;
  justify-content: center;
  margin-top: 130px;
}

.euro-name h2 {
  text-align: center;
  font-size: 70px;
  color: rgb(149, 169, 201);
  text-shadow: 15px 10px 5px black;
}
